---
import { Image } from "astro:assets";

interface ImgSet {
  main: any; // ImageMetadata
  thumbs: any[]; // ImageMetadata[]
}
interface Props {
  slug: string;
  title: string;
  description: string;
  medidas: string;
  tono: string;
  images: ImgSet;
}
const { slug, title, description, medidas, tono, images } = Astro.props;
---

<article
  class="group rounded-[42px] border border-[#E7E1D5] bg-white shadow-[0_14px_48px_rgba(0,0,0,.06)]
         p-6 sm:p-8 lg:p-12 xl:p-16 overflow-hidden"
  aria-labelledby={`silla-${slug}`}
>
  <div class="grid grid-cols-1 lg:grid-cols-12 items-center gap-8 lg:gap-12">
    <!-- Texto + thumbs -->
    <div class="lg:col-span-5 flex flex-col justify-center">
      <h3
        id={`silla-${slug}`}
        class="font-marisa uppercase text-4xl sm:text-5xl lg:text-6xl mb-2"
      >
        {title}
      </h3>

      <p
        class="font-light text-base sm:text-lg lg:text-xl leading-relaxed
         text-neutral-700 max-w-[40ch] mb-2"
      >
        {description}
      </p>

      <ul class="mt-1 space-y-2 text-base sm:text-lg lg:text-xl font-light">
        <li class="flex items-baseline gap-3">
          <span class="font-normal">Medidas</span>
          <span class="text-neutral-400">|</span>
          <span class="text-neutral-700">{medidas}</span>
        </li>
        <li class="flex items-baseline gap-3">
          <span class="font-normal">Tono</span>
          <span class="text-neutral-400">|</span>
          <span class="text-neutral-700">{tono}</span>
        </li>
      </ul>

      <div class="mt-4 flex items-start gap-5 lg:gap-8">
        {
          images.thumbs.map((thumb, i) => (
            <div
              class="w-24 sm:w-28 lg:w-48
                    "
            >
              <Image
                src={thumb}
                alt={`${title} vista ${i + 1}`}
                class="h-full w-full object-contain p-2"
              />
            </div>
          ))
        }
      </div>
    </div>

    <!-- Hero -->
    <div class="lg:col-span-7">
      <div
        class="relative  p-3 sm:p-4"
      >
        <div class="relative aspect-[5/3] sm:aspect-[16/9]">
          <Image
            src={images.main}
            alt={title}
            class="absolute inset-0 h-full w-full object-contain"
          />
        </div>
      </div>
    </div>
  </div>
</article>
